/*! Override and add to the settings of _normalize.scss in this file */
p {
	margin: auto;
}

html {
	font-family: $theme-font-family;
	font-weight: $theme-font-weight;
	line-height: $theme-line-height;
	font-size: $theme-font-size;
	color: $text-color;
	background-color: $background-color;
}

button,
input,
optgroup,
select,
textarea {
	font-family: $theme-font-family;
	font-weight: $theme-font-weight;
	line-height: $theme-line-height;
	font-size: $theme-font-size;
	color: $theme-color;
}

h2 {
	margin: auto;
	line-height: 1;
}

a, a:visited {color: $theme-color;}

a:hover {color: $darkest-color;}

.feed {
	margin-bottom: 1em;
}

.normalmargin {
	margin: 0.5em;
}
