<head>
 <link rel="stylesheet" href="/assets/csslider.css" />
 </head>

<div class="csslider">
    <input type="radio" name="slides" id="slides_1" checked />
    <input type="radio" name="slides" id="slides_2" />
    <input type="radio" name="slides" id="slides_3" />
    <ul>
      {%- for post in site.posts limit: site.data.setup.number-of-posts-on-home-page -%}
        <li>
          <div class="sliderimage"><a href="{{ post.url | relative_url }}" class=posterboard><h2 style="padding: 10vh; {%- if post.image -%}color: white; background-image: url({{ post.image }}); background-size: cover; color; white{%- endif %}">{{ post.title | escape }}</h2></a></div></li>
      {%- endfor -%}
    </ul>
    <div class="arrows">
        <label for="slides_1"></label>
        <label for="slides_2"></label>
        <label for="slides_3"></label>
        <label for="slides_1" class="goto-first"></label>
        <label for="slides_3" class="goto-last"></label>
    </div>
    <div class="navigation">
     <div>
         <label for="slides_1"></label>
         <label for="slides_2"></label>
         <label for="slides_3"></label>
     </div>
    </div>
</div>
