---
layout: default
---

<div>

{%- assign posts-text = 'Posts' -%}
{%- if site.data.text-for.tPosts -%}{%- assign posts-text = site.data.text-for.tPosts -%}{%- endif -%}
	<h1>The Latest...</h1>

<!--	{{ content }} -->

{%- for post in site.posts limit: site.data.setup.number-of-posts-on-home-page -%}
		<div class="feed">
    <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
		<span class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%F" }}</time>{%- if post.author -%} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{%- endif -%}</span>
    {{ post.excerpt }}
		</div>
{%- endfor -%}

</div>
